### Exportar un modelo de sklearn con **pickle**

El siguiente ejemplo demuestra cómo puede entrenar un modelo de regresión logística usando el conjunto de datos de la diabetes en Pima India. Guardaremos el modelo en un archivo y lo cargaremos para hacer predicciones en el dataset test

Importamos las librerías necesarias. El paquete que se encargará del proceso de guardado del modelo es **pickle**

In [3]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle

Leemos el archivo csv desde una URL

In [5]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pandas.read_csv(url, names=names)
dataframe.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [6]:
dataframe.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Convertimos los datos del dataframe a array, para que la regresión logística pueda trabajar eficientemente.

In [12]:
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]

Separamos la data de entrenamiento y data test

In [13]:
test_size = 0.33
seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size, random_state=seed)

Creamos y entrenamos el modelo

In [14]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

Guardamos el modelo en nuestro disco  (wb indica escritura)

In [15]:
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

Un tiempo después... cargamos el modelo desde nuestro disco y sacamos el score

In [16]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)

0.7559055118110236