In [1]:
import findspark
findspark.init('/home/amanosalva/spark-2.3.1-bin-hadoop2.7/')

In [2]:
import pyspark
from pyspark.sql import SparkSession

#### Iniciamos la sesi√≥n de spark

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
df = spark.read.json('/home/amanosalva/people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [12]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [13]:
final_struc = StructType(fields=data_schema)

In [38]:
df = spark.read.json('/home/amanosalva/people.json', schema=final_struc)

In [39]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

#### Segunda Clase

In [40]:
type(df['age'])

pyspark.sql.column.Column

In [41]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [42]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [43]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [48]:
df = df.withColumn('newage', df['age'] + 1)
df.show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    31|
|  19| Justin|    20|
+----+-------+------+

Cambiando los nombres de las columnas

In [63]:
df = df.withColumnRenamed('age', 'edad')
df = df.withColumnRenamed('name', 'nombre')
df = df.withColumnRenamed('newage', 'nueva_edad')
df = df.withColumnRenamed('newColumn', 'vacio')
df.show()

+----+-------+----------+-----+
|edad| nombre|nueva_edad|vacio|
+----+-------+----------+-----+
|null|Michael|      null| null|
|  30|   Andy|        31| null|
|  19| Justin|        20| null|
+----+-------+----------+-----+

Utilizando el lenguaje SQL para hacer QUERIES!!!

In [66]:
df.createOrReplaceTempView('people')

In [68]:
results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+----------+-----+
|edad| nombre|nueva_edad|vacio|
+----+-------+----------+-----+
|null|Michael|      null| null|
|  30|   Andy|        31| null|
|  19| Justin|        20| null|
+----+-------+----------+-----+

In [72]:
new_results = spark.sql("SELECT * FROM people WHERE edad=30")
new_results.show()

+----+------+----------+-----+
|edad|nombre|nueva_edad|vacio|
+----+------+----------+-----+
|  30|  Andy|        31| null|
+----+------+----------+-----+

In [89]:
new_results = spark.sql("SELECT * FROM people WHERE nombre LIKE 'a'")
new_results.show()

+----+------+----------+-----+
|edad|nombre|nueva_edad|vacio|
+----+------+----------+-----+
+----+------+----------+-----+